<div class="col-md-12">
  <div data-nq-dropdown="" class="btn btn-primary" data-qo-show-arrow="true">
        Options
        <ul class="dropdown-menu" tabindex="-1" role="menu">
          <li tabindex="-1" role="presentation"><a role="menuitem" ng-click="vm.zoom()"> Zoom on Ukraine</a></li>
        </ul>
      </div>

      <div class="row">
          <div class="col-md-6">
              <base-map id="map1" style="height:300px;"></base-map>
          </div>
          <div class="col-md-6">
              <base-3d-map id="cesium1" style="height:300px;"></base-3d-map>
          </div>
      </div>
      <br />
      <div class="row">
          <div class="col-md-6">
            <base-3d-map id="cesium2" style="height:300px;"></base-3d-map>
          </div>
          <div class="col-md-6">
              <base-map id="map2" style="height:300px;"></base-map>
          </div>
      </div>

</div>
